In [33]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [34]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN','NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [35]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [36]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [37]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [38]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [39]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [40]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<450].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [41]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [42]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 89)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 35

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='sigmoid', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='sigmoid'))


# Output layer (output is 1 and sigmoid because it's binary classifier)
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3600

 dense_7 (Dense)             (None, 35)                2835

 dense_8 (Dense)             (None, 1)                 36

=================================================================
Total params: 6,471
Trainable params: 6,471
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=110)

Epoch 1/110
804/804 [==============================] - 2s 1ms/step - loss: 0.5913 - accuracy: 0.7072
Epoch 2/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7200
Epoch 3/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5708 - accuracy: 0.7211
Epoch 4/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7233
Epoch 5/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7232
Epoch 6/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7261
Epoch 7/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7247
Epoch 8/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7261
Epoch 9/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7257
Epoch 10/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7267
Epoch 11/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7266
Epoch 12/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7269
Epoch 13/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7278
Epoch 14/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7286
Epoch 15/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7284
Epoch 16/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7280
Epoch 17/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7292
Epoch 18/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7297
Epoch 19/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7300
Epoch 20/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7285
Epoch 21/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7301
Epoch 22/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7292
Epoch 23/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7293
Epoch 24/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7297
Epoch 25/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7292
Epoch 26/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7299
Epoch 27/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7306
Epoch 28/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7310
Epoch 29/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7312
Epoch 30/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7303
Epoch 31/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7307
Epoch 32/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7312
Epoch 33/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7321
Epoch 34/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7322
Epoch 35/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7320
Epoch 36/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 37/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7323
Epoch 38/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7332
Epoch 39/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7325
Epoch 40/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7336
Epoch 41/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7332
Epoch 42/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7335
Epoch 43/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7340
Epoch 44/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 45/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7334
Epoch 46/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 47/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7337
Epoch 48/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7342
Epoch 49/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7327
Epoch 50/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7332
Epoch 51/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 52/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7343
Epoch 53/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7345
Epoch 54/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7344
Epoch 55/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7336
Epoch 56/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7345
Epoch 57/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 58/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7358
Epoch 59/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7345
Epoch 60/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 61/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7353
Epoch 62/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7360
Epoch 63/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7353
Epoch 64/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7356
Epoch 65/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7363
Epoch 66/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7347
Epoch 67/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 68/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 69/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7351
Epoch 70/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7358
Epoch 71/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7360
Epoch 72/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7355
Epoch 73/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7361
Epoch 74/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7355
Epoch 75/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7364
Epoch 76/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7360
Epoch 77/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7363
Epoch 78/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7350
Epoch 79/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7359
Epoch 80/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7358
Epoch 81/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7361
Epoch 82/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7370
Epoch 83/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7364
Epoch 84/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7361
Epoch 85/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7361
Epoch 86/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7370
Epoch 87/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7360
Epoch 88/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 89/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7360
Epoch 90/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7368
Epoch 91/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7371
Epoch 92/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 93/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 94/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7373
Epoch 95/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7362
Epoch 96/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7362
Epoch 97/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7361
Epoch 98/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7366
Epoch 99/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7369
Epoch 100/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7373
Epoch 101/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7376
Epoch 102/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7371
Epoch 103/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7380
Epoch 104/110
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7371
Epoch 105/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7374
Epoch 106/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7374
Epoch 107/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7364
Epoch 108/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7376
Epoch 109/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7372
Epoch 110/110
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7370

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5528 - accuracy: 0.7383 - 288ms/epoch - 1ms/step
Loss: 0.5528416633605957, Accuracy: 0.7383090257644653

In [48]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimisation3.h5')